.page-title{
  display:block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10 px;
}

.form-div{
  width: 400px;
  margin: auto;
}

.block{
  display: block;
}

.post-body{
  color: black;
  font-size:medium;
  padding-top: .3em;
  padding-bottom: .5em;
}

.ui.green.button:focus, .ui.green.buttons .button:focus{
  background-color: #21ba45;
}
